body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

main > article {
height: 300px;
flex-grow: 1;
font-family: Arial;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #2F4F4F; 
}

img {
  width: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.extra {
  visibility: hidden;
}

.rank {
	color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing		: -1px;
	background		: rgb(0, 0, 0);
  background		: rgba(0, 0, 0, 0.7);
  margin-bottom: 100px;
}

.photo {
  display:inline-block;
  position:relative;
  
  }

.photo span {
  width: 20px;
  height: 20px;
  display:inline-block;
  position:absolute;
  top:92px;
  left:170px;
  color: brown;
  font-family:Arial, Helvetica, sans-serif;
  font-size:10px;
  background-color:white;
  border-radius: 50%;
  padding-bottom: auto;
  line-height: 23px;
  text-align: center;
}